.preloader {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 9999;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Clean Version */
/*body {
  padding: 35px
}

.grid-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid white;
}

footer {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  background: white;
  padding: 12px;
}*/


/* Type */

h2.accordion-header button {
  font-weight: 500;
  text-transform: uppercase;
}

.lead {
  font-weight: 400;
}

@media screen and (max-width:1199.9px) {
  #about-me .lead {
    font-size: 1rem;
    font-weight: 500;
  }
  #about-me .bio .lead {
    font-weight: 400;
  }
}


/* Custom Bootstrap */ 

.accordion {
  --bs-accordion-color: none;
  --bs-accordion-bg: none;
  --bs-accordion-border-color: none;
  --bs-accordion-border-width: 0px;
  --bs-accordion-border-radius:0rem;
  --bs-accordion-btn-focus-border-color: none;
  --bs-accordion-btn-focus-box-shadow: 0rem rgba(0, 0, 0, 0);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: none;
  --bs-accordion-active-bg: none;
}

.accordion-button:not(.collapsed)::before {
  background-image: url(img/icons/chevron-up.svg);
  transform: var(--bs-accordion-btn-icon-transform);
}
.accordion-button::before {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-right: 15px;
  content: "";
  background-image: url(img/icons/chevron-down.svg);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}
.accordion-button:not(.collapsed)::after {
  background-image: none;
  transform: none;
}
.accordion-button::after {
    width: 0;
    height: 0;
    padding-right: 55px;
    margin-left: -20px;
    content: "";
    background-image: none;
    transition:none;
    position: absolute;
    border-bottom: 1px solid white;
    padding-bottom: 53px;
}


/* Custom */

button#back2top {
  display:block;
  background: none;
  border: none;
  padding: 0;
  margin: 0 25px 25px 0;
  margin-bottom:-60px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9998;
  transition: margin-bottom 1s ease, transform .2s;
}
button#back2top img {
  height: 52px;
}

button#back2top.b2t-on {
  margin-bottom: 25px;
}
button#back2top.b2t-on:hover {
  transform: scale(1.1);  
}
@media screen and (max-width: 575.9px) {
  button#back2top {
    margin: 0 15px 15px 0;
    margin-bottom:-40px;
  }
  button#back2top img {
    height: 36px;
  }
  button#back2top.b2t-on {
    margin-bottom: 15px;
  }  
}

.cv-title a svg .st0  {
  opacity:0.4;
  fill:#231F20;
}
.cv-title a svg .st1 {
  opacity:0.9;
  fill:#231F20; 
}
.cv-title a:hover svg path {
  opacity:1;
  fill:#fff;   
  transition: fill .15s ease-in-out;
}

.cv-entry {
  border-left: 1px #dee2e6 solid;
  padding-left: 20px;
  margin-bottom: 0;
  padding-bottom: 1.5em;
}
.first-entry.cv-entry::before {
  content: '';
  border-left: 1px solid #dee2e6;
  padding-right: 20px;
  margin-left: -21px;
  padding-top: 23px;
}
div.first-entry {
  margin-top: -23px;
}
@media screen and (max-width: 1199.9px) {
  .cv-entry {
    padding-top: 2px;
  }
}
@media screen and (max-width: 575.9px) {
  .cv-entry {
    padding-left: 10px;
    padding-right: 10px;
  }
  .first-entry.cv-entry::before {
    padding-right: 10px;
    margin-left: -11px;
  }
}

.cairn::before {
  content: '';
  background-color: white;
  width: 11px;
  height: 11px;
  border: 1px solid #00000040;
  border-radius: 100%;
  position: relative;
  left: -5px;
  float: left;
  top: 10px;
}

.link-icon {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 640 512' style='enable-background:new 0 0 640 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%230D6EFD;%7D%0A%3C/style%3E%3Cpath class='st0' d='M144,304c-52.9,0-96-43.1-96-96s43.1-96,96-96h160c52.9,0,96,43.1,96,96s-43.1,96-96,96h-32 c0,19.2,8.6,36.3,22.1,48h9.9c79.4,0,144-64.6,144-144S383.4,64,304,64H144C64.6,64,0,128.6,0,208s64.6,144,144,144h23.5 c-4.4-15.4-7.5-31.3-7.5-48H144z M496,160h-23.5c4.4,15.4,7.5,31.3,7.5,48h16c52.9,0,96,43.1,96,96s-43.1,96-96,96H336 c-52.9,0-96-43.1-96-96s43.1-96,96-96h32c0-19.2-8.6-36.3-22.1-48H336c-79.4,0-144,64.6-144,144s64.6,144,144,144h160 c79.4,0,144-64.6,144-144S575.4,160,496,160z'/%3E%3C/svg%3E%0A");
  height: 16px;
  width: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  opacity:.75;
  margin-left: 4px;
}
.link-icon:hover {
  opacity: 1;
}

.list-group-flush {
  position: relative;
  z-index: -1;
}

.accordion-body .col-3 span {
  font-size: .9rem;
}

.accordion-body .col-3 {
  padding-left: 0;
}

@media screen and (max-width: 575.9px) {
  .accordion-body .col-9 {
    padding-left: 0;
    padding-right: 0;
  }
}

.accordion-header {
  position: sticky;
  top:0;
  background-color: white;
  z-index: 1;
}

#collapse-clients figcaption {
  margin-top: -15px;
}
@media screen and (max-width: 767.9px) {
  #collapse-clients figcaption {
    margin-top: -5px;
  }
}
#collapse-clients figure {
  text-align: center;
}

@media screen and (max-width:508px) {
  .img-client {
    height: 105px;
    padding: 1.5em;
  }
  .img-client-w {
    height: 70px;
    padding: 1.25em;
  }
}
.img-client {
  width: auto;
  height: 100px;
  padding: 1.5em;
}
.img-client-w {
  width: auto;
  height: 60px;
  padding: 1em;
}
@media screen and (min-width:576px) {
  .img-client {
    height: 105px;
    padding: 1.5em;
  }
  .img-client-w {
    height: 70px;
    padding: 1.25em;
  }
}
@media screen and (min-width:768px) {
  .img-client {
    height: 140px;
    padding: 2.5em;
  }
  .img-client-w {
    height: 118px;
    padding: 2.5em;
  }
}

.progress-bar {
  background-color: #231f20e6;
}
.progress {
  background-color: #231f2066;
}


.rollover {
  position: relative;
  display: block;
}
.rollover img.image-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  border-radius: 100%;
  clip-path: circle(38%);
  transition: opacity .2s;
}
.rollover:hover img.image-hover {
  opacity: 1;
}
.rollover.no-clip img.image-hover {
  clip-path: none;
  border-radius: 0;
}

@media screen and (max-width:768px) {
  #portfolio .rollover img:not(.image-hover) {
    visibility: hidden;
  }
  #portfolio .rollover img.image-hover {
    opacity: 1;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0px solid white;
    border-radius: 0;
    clip-path: none;
  }
}


.grid-item.graph img,
.grid-item.brand img,
.grid-item.front img {
  opacity: 1;
  transition: opacity .2s;
}
.grid-item.graph:hover img,
.grid-item.brand:hover img,
.grid-item.front:hover img {
  opacity: 0
}
span.inner {
  position: absolute;
  padding: 25px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  text-align: center;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  bottom: 75%;
  left: 50%;
  margin-left: -60px;
  position: absolute;
  z-index: 1;
}
.tooltip .tt-d.tooltiptext {
  top: 75%;
  bottom: auto;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.tooltip .tt-d.tooltiptext::after {
  bottom: 100%;
  top: auto;
  border-color: transparent transparent black transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}




/* Offcanvas */

.offcanvas img {
  opacity: 1!important;
}
.offcanvas {
  z-index: 9999;
}
.btn-off {
  z-index: 9;
  position: fixed;
  background-color: transparent;
  background-size: 3em;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 5em;  
  opacity: .6;
}
.btn-off:hover {
  opacity: .9;
}
.dark-btns .btn-off,
.dark-btns .dot {
  filter:invert(1)
}
.btn-clos {
  right: 0;
  top: 0;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bopacity:0.4;fill:%23FFFFFF;enable-background:new ;%7D .st1%7Bopacity:0.9;fill:%23FFFFFF;enable-background:new ;%7D%0A%3C/style%3E%3Cpath class='st0' d='M256,0C114.6,0,0,114.6,0,256s114.6,256,256,256s256-114.6,256-256S397.4,0,256,0z M256,480 C132.5,480,32,379.5,32,256S132.5,32,256,32s224,100.5,224,224S379.5,480,256,480z'/%3E%3Cpath class='st1' d='M278.6,256l74.6-74.6c6.2-6.2,6.2-16.4,0-22.6s-16.4-6.2-22.6,0L256,233.4l-74.6-74.6c-6.2-6.2-16.4-6.2-22.6,0 s-6.2,16.4,0,22.6l74.6,74.6l-74.6,74.6c-6.2,6.2-6.2,16.4,0,22.6s16.4,6.2,22.6,0l74.6-74.6l74.6,74.6c6.2,6.2,16.4,6.2,22.6,0 s6.2-16.4,0-22.6L278.6,256z'/%3E%3C/svg%3E%0A");
}
.btn-next {  
  right: 0;
  bottom: 0;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bopacity:0.9;fill:%23FFFFFF;enable-background:new ;%7D .st1%7Bopacity:0.4;fill:%23FFFFFF;enable-background:new ;%7D%0A%3C/style%3E%3Cpath class='st0' d='M379.3,267.3c3.1-3.1,4.7-7.2,4.7-11.3c0-4.1-1.6-8.2-4.7-11.3l-96-96c-6.2-6.2-16.4-6.2-22.6,0 s-6.3,16.4,0,22.6l68.7,68.7H144c-8.8,0-16,7.2-16,16c0,8.8,7.2,16,16,16h185.4l-68.7,68.7c-6.2,6.2-6.2,16.4,0,22.6 c6.2,6.2,16.4,6.2,22.6,0L379.3,267.3z'/%3E%3Cpath class='st1' d='M256,0C114.6,0,0,114.6,0,256s114.6,256,256,256s256-114.6,256-256S397.4,0,256,0z M256,480 C132.5,480,32,379.5,32,256S132.5,32,256,32s224,100.5,224,224S379.5,480,256,480z'/%3E%3C/svg%3E%0A");
}
.btn-prev {  
  left: 0;
  bottom: 0;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bopacity:0.9;fill:%23FFFFFF;enable-background:new ;%7D .st1%7Bopacity:0.4;fill:%23FFFFFF;enable-background:new ;%7D%0A%3C/style%3E%3Cpath class='st0' d='M132.7,244.7c-3.1,3.1-4.7,7.2-4.7,11.3c0,4.1,1.6,8.2,4.7,11.3l96,96c6.2,6.2,16.4,6.2,22.6,0 c6.2-6.2,6.3-16.4,0-22.6L182.6,272H368c8.8,0,16-7.2,16-16c0-8.8-7.2-16-16-16H182.6l68.7-68.7c6.2-6.2,6.2-16.4,0-22.6 s-16.4-6.2-22.6,0L132.7,244.7z'/%3E%3Cpath class='st1' d='M256,512c141.4,0,256-114.6,256-256S397.4,0,256,0S0,114.6,0,256S114.6,512,256,512z M256,32 c123.5,0,224,100.5,224,224S379.5,480,256,480S32,379.5,32,256S132.5,32,256,32z'/%3E%3C/svg%3E%0A");
}
.btn-info {
  left: 0;
  top: 0;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bopacity:0.4;fill:%23FFFFFF;enable-background:new ;%7D .st1%7Bopacity:0.9;fill:%23FFFFFF;enable-background:new ;%7D%0A%3C/style%3E%3Cpath class='st0' d='M256,0C114.6,0,0,114.6,0,256s114.6,256,256,256s256-114.6,256-256S397.4,0,256,0z M256,480 C132.5,480,32,379.5,32,256S132.5,32,256,32s224,100.5,224,224S379.5,480,256,480z'/%3E%3Ccircle class='st1' cx='256' cy='160' r='24'/%3E%3Cpath class='st1' d='M304,352h-32V240c0-8.8-7.2-16-16-16h-32c-8.8,0-16,7.2-16,16s7.2,16,16,16h16v96h-32c-8.8,0-16,7.2-16,16 s7.2,16,16,16h96c8.8,0,16-7.2,16-16C320,359.2,312.8,352,304,352z'/%3E%3C/svg%3E%0A");
  background-size: 2em;
}

@media screen and (max-width:767.9px) {
  .btn-off {
    padding: 2em;
  }
  .btn-off .tooltiptext {
    display: none;
  }
  .btn-clos {
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.offmodal {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
}
.offmodal .modal-content {
  border: 0;
  border-radius: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offmodal .modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/* Flickity */

.carousel-cell {
  width: 100%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}
.carousel-cell-image {
  display: block;
  max-height: 100%;
  z-index: 10;
}
.carousel.is-fullscreen .carousel-cell-image {
  max-width: 100%;
}

.flickity-page-dots .dot {
  background: #fff;
}

.flickity-page-dots li:only-child{
  display: none;
}


/* Sticky Filters */
.navbar {
  top: -116px;
  position: sticky;
  -webkit-transition: top 1s ease;
  transition: top 1s ease;
}
.navbar.sticky {
  height: 60px;
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  padding: 0!important;
}

.navbar .topped {display: block}
.navbar .scrolled {display: none}
.navbar.sticky .topped {display: none}
.navbar.sticky .scrolled {display: block}

.navbar.sticky .filters {
  border: none!important;
}

@media screen and (max-width:767.9px) {
  .navbar.sticky .brand {
    display: none!important;
  }
  .navbar.sticky .filters {
      order: 1 !important;
      width: auto !important;
  }
}
@media screen and (min-width:576px) {
  .navbar .filters {border: none!important;}
}
@media screen and (max-width:370px) {
  .navbar.sticky .infocom {display: none!important;}
  .navbar.sticky .filters {width: 100%!important;}
}


/* Navs */

footer {
  display: block;
  width: 100%;
  background: white;
  padding: 12px;
}
footer img {
  height:22px!important;
  margin:0 3px;
  margin-top:.5em;
}

.wrapper {
  min-height: calc(100vh - 71px);
}


.navbar-collapse {
  flex-grow: 0;
}
@media screen and (max-width:992px) {
  .navbar-collapse {
    border-top: 1px solid #dee2e6
  }
}

button.btn-filters {
  border: none;
  color: rgba(0, 0, 0, 0.55);
  background: rgba(0, 0, 0, 0);
  padding: 22px 22px;
  margin: -3px;
  border-radius: 0;
  font-size: 1.1em;
}

button.btn-filters:hover {
  color: rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.075);
}

button.btn-filters.active {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 500;
}

.nav-link img {
  filter: opacity(100%);
  transition: filter 0.15s ease-in-out;  
} 
.nav-link:hover img {
  filter: opacity(50%);
  transition: filter 0.15s ease-in-out;  
} 

.navbar.sticky button.btn-filters {
  padding: 17px 22px;
}

.navbar {
  background-color: white!important;
}

@media screen and (max-width:767.99px) {
  .scrolled {
    display:none
  }
  .navbar {
    background-color: white!important;
    height:auto
  } 

  .navbar-toggler {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
  }
  button.btn-filters {
    padding: 11px;
    font-size: 1em;
    width: 100%;
    min-height: 50px;
    margin: 0;
  }

  .navbar.sticky button.btn-filters {
    padding: 18px 14px;
  }
}


.navbar-toggler {
  border:none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler.collapsed {
  transform: rotate(0deg);
  transition: 0.15s ease-in-out
}
.navbar-toggler:not(.collapsed) {
  transform: rotate(90deg);
  transition: 0.15s ease-in-out
}


#contactModal svg {
  height: 64px;
  width: 64px;
  fill: #231f20;
}
#contactModal .modal-body {
  display: flex !important;
  justify-content: space-evenly;
}
svg:hover .tg {fill:#28A8E9;}
svg:hover .wa {fill: #0CC243;}
svg:hover .li {fill:#0A66C2;}
a.em:hover svg {fill: #E29A33!important;}
a.tp:hover svg {fill: #E29A33!important;}
a.em:hover span {color: #E29A33!important;}
a.tp:hover span {color: #E29A33!important;}

.obfuscate {
  unicode-bidi: bidi-override;
  direction: rtl;
}


/* Packery Grid */

.grid-item {width: 50%;}
@media screen and (min-width: 768px) {
  .grid-item {width: 25%;}
}
@media screen and (min-width: 1200px) {
  .grid-item {width: 20%;}
}
@media screen and (min-width: 1850px) {
  .grid-item {width: 14.28571428571429%;}
}

.grid-item--width2 {width: 100%;}
@media screen and (min-width: 768px) {
  .grid-item--width2 {width: 50%;}
}
@media screen and (min-width: 960px) {
  .grid-item--width2 {width: 50%;}
}
@media screen and (min-width: 1200px) {
  .grid-item--width2 {width: 40%;}
}
@media screen and (min-width: 1850px) {
  .grid-item--width2 {width: 28.57142857142858%;}
}

@media screen and (min-width: 1850px) {
  .grid-item--height2 {width: 14.28571428571429%; }
}



/* Bootstrap Sizing AddOn by Me! */

@media (min-width: 576px) {
	.w-sm-100 {
		width:100%!important;
	}
	.w-sm-75 {
		width:75%!important;
	}
	.w-sm-50 {
		width:50%!important;
	}
	.w-sm-25 {
		width:25%!important;
	}
  .w-sm-auto {
    width: auto!important;
  }
	.h-sm-100 {
		height:100%!important;
	}
	.h-sm-75 {
		height:75%!important;
	}
	.h-sm-50 {
		height:50%!important;
	}
	.h-sm-25 {
		height:25%!important;
	}
  .h-sm-auto {
    height: auto!important;
  }
}
@media (min-width: 768px) {
	.w-md-100 {
		width:100%!important;
	}
	.w-md-75 {
		width:75%!important;
	}
	.w-md-50 {
		width:50%!important;
	}
	.w-md-25 {
		width:25%!important;
	}
  .w-md-auto {
    width: auto!important;
  }
	.h-md-100 {
		height:100%!important;
	}
	.h-md-75 {
		height:75%!important;
	}
	.h-md-50 {
		height:50%!important;
	}
	.h-md-25 {
		height:25%!important;
	}
  .h-md-auto {
    height: auto!important;
  }
}
@media (min-width: 992px) {
	.w-lg-100 {
		width:100%!important;
	}
	.w-lg-75 {
		width:75%!important;
	}
	.w-lg-50 {
		width:50%!important;
	}
	.w-lg-25 {
		width:25%!important;
	}
	.h-lg-100 {
		height:100%!important;
	}
	.h-lg-75 {
		height:75%!important;
	}
	.h-lg-50 {
		height:50%!important;
	}
	.h-lg-25 {
		height:25%!important;
	}
}
@media (min-width: 1200px) {
	.w-xl-100 {
		width:100%!important;
	}
	.w-xl-75 {
		width:75%!important;
	}
	.w-xl-50 {
		width:50%!important;
	}
	.w-xl-25 {
		width:25%!important;
	}
	.h-xl-100 {
		height:100%!important;
	}
	.h-xl-75 {
		height:75%!important;
	}
	.h-xl-50 {
		height:50%!important;
	}
	.h-xl-25 {
		height:25%!important;
	}
}

