/* Type */

h2.accordion-header button {
  font-weight: 500;
  text-transform: uppercase;
}

.lead {
  font-weight: 400;
}


/* Custom Bootstrap */ 

.accordion {
  --bs-accordion-color: none;
  --bs-accordion-bg: none;
  --bs-accordion-border-color: none;
  --bs-accordion-border-width: 0px;
  --bs-accordion-border-radius:0rem;
  --bs-accordion-btn-focus-border-color: none;
  --bs-accordion-btn-focus-box-shadow: 0rem rgba(0, 0, 0, 0);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: none;
  --bs-accordion-active-bg: none;
}

.accordion-button:not(.collapsed)::before {
  background-image: var(--bs-accordion-btn-active-icon);
  transform: var(--bs-accordion-btn-icon-transform);
}
.accordion-button::before {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-right: 15px;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}
.accordion-button:not(.collapsed)::after,
.accordion-button::after {
  display:none
}


/* Custom */

p.cv-entry {
  border-left: 1px #00000040 solid;
  padding-left: 45px;
  margin-bottom: 0;
  padding-bottom: 1.5em;
}
p.cv-entry::before {
  content: url('../../media/examples/firefox-logo.svg');
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background-color: red;
}


/* Sticky Filters */

#nav-filters {
  background-color: white;
  z-index: 9999;
  top: -50px;
}

#nav-filters.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all .25s linear .25s;
}

#nav-filters.sticky .py-5 {
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
}

.portsticky {
  margin-top: 127px;
}



/* Packery Grid */

@media screen and (min-width: 768px) {
  .grid-item {width: 25%;}
}
@media screen and (min-width: 768px) {
  .grid-item {width: 25%;}
}
@media screen and (min-width: 1200px) {
  .grid-item {width: 20%;}
}
@media screen and (min-width: 1850px) {
  .grid-item {width: 14.28571428571429%;}
}

@media screen and (min-width: 768px) {
  .grid-item--width2 {width: 50%;}
}
@media screen and (min-width: 960px) {
  .grid-item--width2 {width: 50%;}
}
@media screen and (min-width: 1200px) {
  .grid-item--width2 {width: 40%;}
}
@media screen and (min-width: 1850px) {
  .grid-item--width2 {width: 28.57142857142858%;}
}



/* CDNs */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 20;
  vertical-align: middle;
}
